.detail_box{
    width: 307px;
    height: 125px;
    flex-shrink: 0;
    border-radius: 15px;
    border: 1px solid #C7C7C7;
    background: #FFF;
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 50px;
}

.infoCheck{
    display: flex;
    width: 62px;
    height: 23px;
    padding: 10px 15px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 5px;
    background: #C2D6C5;
    color: #645D5D;
    font-size: 8px;
    border-style: none;
    font-weight: bold;
}

.dropBtn{
    display: flex;
    width: 35px;
    height: 25px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background: #C2D6C5;
    font-size: 8px;
    font-weight: bold;
    border-style: none;
    margin-left: 80%;
    position: relative;
    top: 50px;
    cursor: pointer;
}
