.pageName{
    text-align: center;
}

.under{
    width: 69px;
    height: 2px;
    background: #DDE2DF;
    margin: auto;
    position: relative;
    top: -10px;
}

.subject{
    width: 324px;
    height: 126px;
    border-radius: 10px;
    border: 1px solid #C2D6C5;
    background: #FFF;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.addBtn1{
    width: 45px;
    height: 45px;
    flex-shrink: 0;
    background-color: #9EB7AB;
    border-style: none;
    border-radius: 50%;
    position: absolute;
    top: 85%;
    left: 80%;
    cursor: pointer;
}
